<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TamaHive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TamaWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A53718FA1F00C92500533669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5593C591EEA495100097766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5593C731EEA495100097766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5593C7E1EEA495100097766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
